
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #f4f4f4;
}

.portfolio {
    text-decoration: underline;
    font-size: 3vw;
    color: #333;
}

.cspart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    border-radius: 20px;
}

.baserecblock {
    width: 60%;
    aspect-ratio: 8 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    font-size: 2vw;
    font-weight: bold;
}

.profileplot {
    background-color: blue;
    border-radius: 50%;
    width: 25%;
    height: 66%;
}

.aboutblock {
    width: 75%;
    height: 66%;
    border-radius: 20px;
    margin-left: 20px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5vw;
    font-weight: bold;
}

.profmain {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.proficiencytop {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.topL {
    width: 40%;
    height: 20px;
    border-left: 2px solid rgb(62, 62, 62);
    border-top: 2px solid rgb(62, 62, 62);
    border-top-left-radius: 20px;
    background-color: #f4f4f4;
}

.topR {
    width: 40%;
    height: 20px;
    border-right: 2px solid rgb(62, 62, 62);
    border-top: 2px solid rgb(62, 62, 62);
    border-top-right-radius: 20px;
    background-color: #f4f4f4;
}

.proftitle {
    width: 30%;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
}

.proficiencyblock {
    box-sizing: border-box;
    width: 100%;
    border-left: 2px solid rgb(62, 62, 62);
    border-right: 2px solid rgb(62, 62, 62);
    border-bottom: 2px solid rgb(62, 62, 62);
    background-color: #f4f4f4;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    aspect-ratio: 9 / 3;
    display: flex;
    align-items: center;
    font-size: 2vw;
    font-weight: bold;
}

.topicblock {
    width: 60%;
    background-color: rgb(182, 230, 173);
    display: flex;
    margin: 20px 10px;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.projectsblock {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
}

.projectitem {
    width: 100%;
    height: 33%;
    background-color: rgb(44, 191, 103);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 20px;
    padding: 15px;
    font-size: 1.5vw;
    font-weight: bold;
    transition: all 0.7s ease-in-out;
}

.projectitem:hover {
    transform: scale(1.3);
    z-index: 2;
}
